/* font Chakra Petch */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/* font Days One */
@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Play:wght@400;700&display=swap");
/*  global rules */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  scroll-behavior: smooth;
}
body {
  font-family: "Chakra Petch", sans-serif;
  list-style: none;
  line-height: 1.5;
}
body::selection {
  background-color: var(--yellow);
  color: var(--black);
}
/* colors */
:root {
  --black: #0b0e13;
  --yellow: #cbfe1c;
}
/* ----------------------------------------------------------------- */
/* background color */
.BG-black {
  background-color: var(--black);
}
.BG-yellow {
  background-color: var(--yellow);
}
/* font color */
.white {
  color: white;
}
.yellow {
  color: var(--yellow);
}
.gray {
  color: #99a1af;
}
/* ----------------------------------------------------------------- */
/* tags */
h1 {
  font-family: "Days One", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: white;
}
p {
  color: #d1d5db;
}
/* ----------------------------------------------------------------- */
/* font size*/
.f-12 {
  font-size: 12px;
}
/* ----------------------------------------------------------------- */
/* font weight*/
.w700 {
  font-weight: 700;
}
/* ----------------------------------------------------------------- */
/* sizing */
.w-25px {
  width: 25px;
}
/* ----------------------------------------------------------------- */
/* ------------------------- header ------------------------------- */
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding-block: 5px;
  box-shadow: 0 1px 1px 0 #1e2939;
}
/* links & button */
header button.btn {
  padding: 8px 24px;
  font-weight: 700;
}
header button.btn:hover {
  background-color: #a4ce1a;
  border-color: #a4ce1a;
}
.bell,
.message {
  cursor: pointer;
}
.bell:hover,
.message:hover {
  color: var(--yellow);
}
/* navbar-toggler */
button.navbar-toggler {
  border: none;
  color: var(--yellow);
}
button.navbar-toggler:hover i {
  color: var(--yellow);
}
.navbar-toggler:focus {
  box-shadow: none;
}
.nav-item .nav-link {
  color: white;
}
.nav-item .nav-link:hover {
  color: var(--yellow);
}
.nav-item .nav-link.active {
  color: var(--yellow);
}
/* ----------------------------------------------------------------- */
/* ------------------------- main ------------------------------- */
main {
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
main .overlay {
  background-color: #000000d9;
  height: calc(100vh - 67px);
  margin-top: 67px;
}
main .overlay .container {
  grid-template-columns: repeat(12, 1fr);
}
main .content,
main .image {
  grid-column: span 6;
}
/* content */
main .content div[class^="d-flex"] .btn:first-child {
  border: 2px solid var(--yellow);
  background-color: var(--yellow);
  font-weight: 700;
}
main .content div[class^="d-flex"] .btn:first-child:hover {
  border: 2px solid #a4ce1a;
  background-color: #a4ce1a;
}
main .content div[class^="d-flex"] .btn:last-child {
  border: 2px solid var(--yellow);
  color: var(--yellow);
  font-weight: 700;
}
main .content div[class^="d-flex"] .btn:last-child:hover {
  background-color: var(--yellow);
  color: var(--black);
}
/* image */
main .image {
  position: relative;
  width: 575px;
  height: 400px;
  background: linear-gradient(
    90deg,
    rgba(199, 253, 36, 1) 0%,
    rgba(37, 223, 109, 1) 100%
  );
  padding: 3px;
  border-radius: 16px;
}
main .image .img {
  width: 100%;
  height: 100%;
  background-image: url(../images/hero-img.png);
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}
main .image div[class^="position-absolute"] {
  box-shadow: 0 0 1px 1px #1e2939;
  bottom: -30px;
  left: -30px;
}
